<footer class="footer" id="footer">
	<div class="container">
		<div class="footer-columns">
			<div class="footer-column">
				<div class="footer-title">Le fiasco</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum, sint corporis nostrum, possimus unde eos vitae eius quasi saepe.
				</p>
			</div>
			<div class="footer-column">
				<div class="footer-title">INFORMATIONS DE CONTACT</div>
				<p>
					1234 Altschul, New York, NY 10027-0000<br>
					+1 987 654 3210<br>
					<a href="mailto:contact@thefiasco.com">contact@thefiasco.com</a>
				</p>
			</div>
			<div class="footer-column">
				<div class="footer-title">HORAIRES D'OUVERTURES</div>
				<ul>
					<li>du lundi au vendredi | 10:00 - 23:00</li>
				</ul>
			</div>
		</div>
		<div class="footer-credits">
			<span>2018 LE FIASCO</span>. Tous droits réservés.
		</div>
	</div>
</footer>
