<header class="header">
	<div class="topbar">
		<div class="logo">
			<a href="/">Le Fiasco</a>
		</div>
		<nav class="menu">
			<a href="/a-propos" class="menu-item">à propos</a>
			<a href="/menu" class="menu-item">Menu</a>
			<a href="/recette" class="menu-item">Recette</a>
			<a href="/contact" class="menu-item">Contact</a>
			<a href="/reserver" class="menu-item menu-button">Réserver</a>
		</nav>
	</div>
	<div class="baseline">
		<span class="baseline-welcome">{{baseline.baseLineWelcome}}</span>
		<strong class="baseline-name">{{baseline.baseLineName}}</strong>
		<span class="baseline-slogan">{{baseline.baseLineSlogan}}</span>
	</div>
</header>
