<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}
				Le Fiasco
			{% endblock %}
		</title>
		<!-- Feuilles de styles -->
		{% block stylesheets %}{% endblock %}
		<link href="https://fonts.googleapis.com/css?family=Pinyon+Script|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
		<link
		rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

		<!-- Fichiers JS -->
		{% block javascripts %}{% endblock %}


	</head>
	{% block body %}
		<body>
			{% include "site/_partials/_header.html.twig" %}

			{% block contentPage %}{% endblock %}

			{% include "site/_partials/_footer.html.twig" %}

			{% include "site/_partials/_script.html.twig" %}

		</body>
	{% endblock %}
</html>
